<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="zeroPoint" class="org.koushik.javabrains.Point">
		<constructor-arg index="0" value="0"></constructor-arg>
		<constructor-arg index="1" value="0"></constructor-arg>
	</bean>
	
	<!--  Defining an alias here so that the zeroPoint can be autowired by the Triangle bean... -->
	<alias name="zeroPoint" alias="pointA" />
	
	<bean id="pointB" class="org.koushik.javabrains.Point">
		<constructor-arg index="0" value="2"></constructor-arg>
		<constructor-arg index="1" value="2"></constructor-arg>
	</bean>

	<bean id="pointC" class="org.koushik.javabrains.Point">
		<constructor-arg index="0" value="3"></constructor-arg>
		<constructor-arg index="1" value="3"></constructor-arg>
	</bean>

	<!-- Using the InnerBean definition. -->
	<bean id="triangle" class="org.koushik.javabrains.Triangle" autowire="byName">
	</bean>
</beans>